body {
	background-color: rgb(52, 84, 52);
	background-color: #B9E09C;
	/* background-color: rgb(22, 53, 22); */
}

/* Шрифты */

@font-face {
	font-family: "Montserrat";
	src: url("./font/Montserrat-VariableFont_wght.ttf") format("truetype");
	/* font-style: normal; */
	/* font-weight: 400; */
	font-style: normal;
	font-weight: normal;
}

* {
	font-family: 'Montserrat', sans-serif;
}




/* Основная сетка  */
/* body */
.grid {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
}

/* header */
.header {
	width: 100%;
	height: 190px;
	display: grid;
	justify-items: center;

	width: 1600px;


	background-color: black;
	color: white;
}

.header__wallpaper {
	width: 1200px;
	display: grid;
	/* background-color: black; */

	/* logo author burger */
	grid-template-columns: 250px 1fr 56px;
	justify-content: space-between;
}

.logo img {
	position: relative;
	top: 23px;
}



/* Каротчка автора в хедере */
.author__card {
	display: grid;
	/* колокольчик аватарка звезды WS рейтинг */
	/* grid-template-columns: 39px 39px 117px 73px 50px; */
	grid-template-columns: 39px 39px 140px 55px 50px;
	justify-content: end;
	justify-items: center;
	align-items: end;
	position: relative;
	top: -30px;
}

.author__card__bell--wrapper {
	/* height: 33px; */
	height: 33px;
	width: 30px;
	position: relative;
}

.bell {
	position: relative;
	z-index: 2;
}

.redCircle {
	position: absolute;
	z-index: 1;
}

/* аватар хедер */
.header__avatar {
	width: 39px;
	height: 39px;
	border-radius: 50%;
	overflow: hidden;
}

.avatar-wrapper {
	position: relative;
	top: -9px;
}

.bag {
	margin-right: 10px;
}



/* Бургер меню */
.header__burger__menu {
	display: inline-block;
	cursor: pointer;
	justify-self: center;
	align-self: end;
	position: relative;
	top: -30px;
}

.bar1,
.bar2,
.bar3 {
	height: 5px;
	width: 42px;
	background-color: white;
	margin: 7px 0;
}

.header__reiting {
	width: 73px;
	height: 39px;
	text-align: left;
	color: var(--, #FFF);
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
}

.header__reiting--wrapper {
	padding-top: 8px;
}

/* Стрелка назад */
.arrowback {
	margin-top: 35px;
	width: 1200px;
	justify-content: start;
}

.arrowback img {
	cursor: pointer;
}



/* секция Главное видео */
.section-main-video {
	width: 1200px;
}

#topVideo {
	width: 1200px;
	height: 648px;
	border-radius: 15px;
}

.section-main-video__title span {
	color: #FFF;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: 'Montserrat';
	font-size: 55px;
	font-style: normal;
	font-weight: 600;
	line-height: 130%;
}

.section-main-video--background {
	width: 1200px;
	height: 806px;
	border-radius: 15px;
	background: linear-gradient(252deg, #FFD466 -54.76%, #F00 103.16%);

}

.section-main-video__player-wrapper {
	width: 1200px;
	height: 648px;
	background-color: green;
	border-radius: 15px;
}

.section-main-video__discription {
	display: grid;
	grid-template-columns: 876px 231px;
	justify-content: center;
	gap: 41px;

	padding-top: 30px;
}

.section-main-video__discription-background {
	width: 876px;
	height: 92px;
	background-color: white;
	border-radius: 15px;

	display: grid;
	justify-content: left;
	justify-items: center;
	align-items: center;

	color: black;
	font-feature-settings: 'clig' off, 'liga' off;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 36px;
	font-style: italic;
	font-weight: 500;
	line-height: 98.5%;

	padding-left: 21px;
}

.section-main-video__discription-views {
	align-self: end;

	position: relative;
	top: 20px;

	color: #000;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

/* звезда на видео */
#section-main-video__star{
	position: relative;
	top: -150px;
	left: 1050px;
	cursor: pointer;
}
.main-video__star--hide {
	display: none;
}





/* Секция Автор и лайки справа */
.section-author-info {
	width: 1200px;
	display: grid;
	grid-template-columns: 332px 220px;
	justify-content: space-between;
}

.section-author-info--container {
	color: #000;
	margin-top: 25px;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.author__info__ava__wrapper {
	margin-top: 25px;
	display: grid;
	grid-template-columns: 121px 182px;
	gap: 7px;
}

.author__info__ava__wrapper img {
	border-radius: 15px;
}

.stars-and-news-number {
	display: grid;
	align-content: space-around;
	gap: 10px;
}

.stars-gap {
	gap: 10px;
}

.author__info__stars-wrapper {
	height: 25px;
	display: flex;
}


/* лайки */
.section-author-info__likes {
	margin-top: 21px;
	display: grid;
	/* justify-items: center; */
	/* justify-content: center; */
	grid-template-columns: 71px 125px;
	grid-template-rows: 71px 33px;
	gap: 20px;
}

.likes-mini-Avatars {
	height: 57px;
	display: flex;
	position: relative;
	left: -10px;
}

.likes-mini-Avatars .two {
	position: relative;
	left: -25%;
}

.likes-mini-Avatars .three {
	position: relative;
	left: -50%;
}

.likes-mini-Avatars .four {
	position: relative;
	left: -75%;
}

.heart__Counter {
	display: grid;
	grid-template-columns: 45px 45px;
	justify-content: center;
	justify-items: center;
	align-items: center;

	/* text */
	color: #000;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.heart__Counter__redHeart {
	position: relative;
	left: -10px;
}


/* Статья  с фото и слайдером*/

.article {
	width: 1200px;

	display: grid;
	grid-template-columns: 665px 467px;
	gap: 73px;
}

.article__text__left {
	display: grid;
	padding-top: 40px;
	gap: 40px;
	grid-template-rows: 114px 1fr;

	color: #000;
	font-feature-settings: 'clig' off, 'liga' off;

	/* Подзаголвок */
	/* font-family: Montserrat; */

}

.article__text__left--h1 {

	/* height: 114px; */
	height: 95px;

	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: 98.5%;
	/* 35.46px */
	border-radius: 15px;
	background-color: white;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

	padding-top: 19px;
	padding-left: 21px;
}


.article__text__left--text {

	padding: 22px 11px 22px 22px;
	/* padding: 22px 22px 22px 22px ; */


	/* display: grid; */

	border-radius: 15px;
	background-color: white;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

	color: #000;
	font-feature-settings: 'clig' off, 'liga' off;
	/* Основной текст */
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	/* 26.4px */
}

.article__text__left__button-next {
	margin-top: 10px;
	margin-left: 70%;
	cursor: pointer;
}

/* Заголовок и фото с права */
.article__text__right {
	text-align: center;
}

/* Первый слайдер */
.slider__wrapper {
	padding-top: 34px;
	width: 1200px;
	height: 252px;

	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.slider-title {
	width: 1200px;
}

/* padding-left: 200px; */
.leftPaddingFirstFoto {
	margin-left: 5px;
}

/* выбранное фото сладер 1 */
#slider1-main-foto {
	width: 458px;
	height: 434px;
	object-fit: cover;
	border-radius: 15px;
	margin: 5px;
}

.slider1-main-foto--background {
	width: 468px;
	height: 444px;

	border-radius: 15px;
	/* Цвет рамки выбранного фото */
	background: linear-gradient(265deg, #F00 -74.64%, #FFD466 112.9%);
}


.swiper-slide {
	/* margin: -5px; */
	cursor: pointer;
}

.swiper-slide img {
	width: 177px;
	height: 162px;
	object-fit: contain;
	border-radius: 15px;
}

.swiper-slide--background {
	width: 177px;
	height: 162px;
	border-radius: 15px;
	padding: 5px;

	background: transparent;

}



.swiper-slide--background-color {
	background: linear-gradient(265deg, #F00 -74.64%, #FFD466 112.9%);
}

.slider__wrapper--button-next {
	margin-top: 15px;
	width: 1200px;
	text-align: end;
	cursor: pointer;
}



/* Карьера награды */
.triple___article--title {
	width: 1200px;
}

.triple___article {
	display: grid;
	grid-template-columns: repeat(3, 385px);
	gap: 10px 22.5px;
	/* поправить */
	grid-template-areas: "a b c" ". . e";
	background-color: white;
	border-radius: 22.5px;


	width: 1200px;
	height: 332px;
	/* justify-content: center; */
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.triple___article span {
	font-family: "Montserrat";
	font-weight: medium;
	font-size: 22px;

	/* отступы текстов */
	/* margin: 10px; */
	margin-top: 12px;
	margin-left: 16px;
}

.triple___article--button {
	grid-area: e;
	justify-self: end;
	cursor: pointer;

	position: relative;
	top: -30px;
	right: 20px;
}



/* Видер от слайдера */
#selected-video {
	border-radius: 15px;

}

.slider-title {
	color: #000;
	font-feature-settings: 'clig' off, 'liga' off;

	/* Подзаголвок */
	font-family: Montserrat;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: 98.5%;
	/* 35.46px */
}

.next-video-button {
	margin-top: 33px;
	margin-bottom: 114px;
	cursor: pointer;

	color: #000;
	/* text-align: center; */

	/* Для раскрытия фото/ви део */
	/* font-family: Montserrat; */
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

/* оранжевый блок рекламы */

.advertising {
	display: grid;
	grid-template-columns: 1200px;
	justify-items: center;
	place-content: center;
	width: 1600px;
	overflow: hidden;
}

.advertising-background {
	width: 2120px;
	height: 525px;
	border-radius: 15px;
	/* background: linear-gradient(265deg, #F00 -74.64%, #FFD466 112.9%); */
	background: linear-gradient(132deg, #F00 -74.64%, #FFD466 112.9%);
	/* Развернутый градиент */
}

.advertising-wrapper {
	display: grid;
	grid-template-columns: 1200px;
	justify-content: center;
	/* justify-items: center; */

	grid-auto-rows: max-content;
	gap: 51px;
	padding-top: 51px;

}

.advertising__title {
	color: #FFF;
	font-feature-settings: 'clig' off, 'liga' off;

	/* ЗАГОЛОВОК */
	/* font-family: Montserrat; */
	font-size: 55px;
	font-style: normal;
	font-weight: 600;
	line-height: 130%;
	/* 71.5px */
}

.advertising__text {

	width: 520px;

	color: #FFF;
	font-feature-settings: 'clig' off, 'liga' off;

	/* Основной текст */
	/* font-family: Montserrat; */
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	/* 26.4px */
}

.advertising__picture {
	position: relative;
}

.advertising__picture--position {
	position: absolute;
	top: -265px;
	left: 650px;
}










/*Видео снизу  */
.bottom-video-wrapper {
	height: 822px;

	display: grid;
	grid-template-columns: 1200px;
	justify-items: end;
}

.bottom-video-menu {
	display: flex;
	align-items: flex-end;
	height: 50px;
	/* height: 35px; */
	position: relative;
	top: -55px;
}

.bottom-video-menu__button {
	border: 1px solid #000;
	padding: 10px 8px 9px 8px;
	border-radius: 7px;

	color: var(--, #000);
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;

	/* Основной текст */
	/* font-family: Montserrat; */
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;

	box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.04), 0px 3px 8px 0px rgba(0, 0, 0, 0.12);

	transition-property: padding;
	transition-duration: 0.2s;

	cursor: pointer;
}

.bottom-video-menu__button:hover{
	padding: 17px 8px 16px 8px;

}

.bottom-video-menu__button-color1{
	background-color: #C9B6FF;
}
.bottom-video-menu__button-color2{
	background-color: #B9F5DB;
}
.bottom-video-menu__button-color3{
	background-color: #FF9D4C;
}
.bottom-video-menu__button-color4{
	background-color: #8DDAED;
}
.bottom-video-menu__button-color5{
	background: linear-gradient(123deg, #FCD1EB -9.2%, #FA9FB4 95.88%, #C555C7 97.67%, #9A1CF5 139.38%, #F39097 165.24%);
}

















/* footer */

.footer {
	display: grid;
	grid-template-columns: 1200px;
	justify-items: center;

	width: 1600px;
	overflow: hidden;
	place-content: center;
}

.footer-background {
	width: 2120px;
	height: 540px;
	background-color: #000;

	display: grid;
	grid-template-columns: repeat(3, 385px);
	/* justify-items: center; */
	place-content: center;
	gap: 50px;
}

.footer__column {
	display: grid;
	gap: 33px;
	grid-auto-rows: max-content;
}

.footer__text {
	color: white;

	color: #FFF;
	font-feature-settings: 'clig' off, 'liga' off;

	/* Основной текст */
	/* font-family: Montserrat; */
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	/* 26.4px */
}

.footer__text-center {
	text-align: center;
}

.footer__logo-text {
	color: #FFF;
	font-feature-settings: 'clig' off, 'liga' off;

	/* ЗАГОЛОВОК */
	/* font-family: Montserrat; */
	font-size: 55px;
	font-style: normal;
	font-weight: 600;
	line-height: 130%;
	/* 71.5px */
}

.footer__column__text-padding {
	margin-left: 150px;
}

.footer__column-logo-shift {
	position: relative;
	top: -40px;
}

.footer__column--tree {
	grid-auto-rows: max-content;
}