body {
	background-color: rgb(22, 53, 22);
}

.font {
	font-family: Montserrat;
	font-weight: 400;
	letter-spacing: 0px;
}


.testColor {
	background-color: green;
	border-radius: 40px;
	/* opacity: 0.8; */
}

.testColor2 {
	background-color: rgb(202, 227, 17);
	border-radius: 40px;
	opacity: 0.8;
}

.testColor3 {
	background-color: rgb(255, 26, 1);
	border-radius: 40px;
	opacity: 0.8;
}



/* Основная сетка  */

body {
	width: 100%;
	/* height: 50%; */
	/* height: 5500px; */
	/* overflow: hidden; */
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 0px;
}

.wallpaper {
	background-image: url(./image/wallpaper.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;


	/* background-size: contain; */

	background-size: cover;

	/* width: 100%; */
	width: 1600px;
	/* height: 6153px; */

	/* высота кривого фона */
	height: 5550px;

	display: grid;
	grid-template-columns: 1fr;
	/* grid-template-rows: 444px 252px; */
	justify-items: center;
	align-content: start;
	gap: 0px;
}




/* header */
.header {
	color: white;

	width: 1200px;
	height: 190px;

	display: grid;
	grid-template-columns: 1200px;
	justify-items: end;
	align-items: end;

	justify-content: end;
	align-content: end;

}

.circle {
	position: relative;
	z-index: 0;
}

.redCircle {
	position: absolute;
	left: 30px;
	top: -15px;
	z-index: 2;
}


.bell {
	z-index: 3;
}

.author {
	display: grid;
	grid-template-columns: 39px 39px 39px 119px 36px 50px 57px;
	justify-items: center;
	align-items: center;
}


.header__burger__menu {
	display: inline-block;
	cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
	height: 5px;
	width: 42px;
	background-color: white;
	margin: 7px 0;
	/* border-radius: 4px; */
}



/*  */
.arrowback {
	margin-top: 35px;
	width: 1200px;
	justify-content: start;

}

.arrowback img {
	cursor: pointer;
}

/*  */
.top__player--section {
	width: 1200px;
	/* height: 886px; */
	color: white;
}



.top__player--text__title {
	color: var(--, #FFF);
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Montserrat;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 130%;
	/* 39px */
}

.top__player--text__name {
	color: var(--, #FFF);
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Montserrat;
	font-size: 85px;
	font-style: normal;
	font-weight: 400;
	line-height: 130%;
	/* 110.5px */

	margin-left: 30px;
}

.top__player--video--background {
	width: 1200px;
	/* height: 800px; */
	border-radius: 15px;
	/* background: linear-gradient(252deg, #F00 -54.76%, #FFD466 103.16%); */
	background: linear-gradient(252deg, #FFD466 -54.76%, #F00 103.16%);


}

.top__player__discription {
	margin-top: 40px;
	margin-left: 40px;
	display: grid;
	grid-template-columns: 717px 420px;
	/* grid-template-areas: "a ." ". b"; */
	padding-bottom: 40px;
}

.top__player__discription--background {
	color: black;
	width: 696px;
	height: 92px;
	background-color: white;
	border-radius: 15px;
	display: grid;
	justify-content: left;
	justify-items: center;
	align-items: center;
	padding-left: 21px;



}


.top__player__discription--text {
	color: var(--, #000);
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
	/* 28.8px */
}

.top__player__discription--views {
	color: #000;
	text-align: center;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	justify-self: end;
	align-self: end;
}



#topVideo {
	width: 1200px;
	height: 648px;
	border-radius: 15px;
}



/* Автор новости и лайки */
/* Статья */

.author__info--section {
	width: 1200px;
	display: grid;
	grid-template-columns: 332px 220px;
	justify-content: space-between;

}




.author__info--block {
	width: 332px;
	height: 145px;

	color: #000;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;


}

.author__info__likes {
	width: 220px;
	height: 145px;
}



.article__vsFoto {
	width: 1200px;
	display: grid;
	grid-template-columns: 665px 467px;
	gap: 68px;

}




/* foto slider */
.slider__wrapper {
	padding-top: 34px;
	width: 1200px;
	height: 252px;

	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


}

.slider-title {
	/* width: 1200px; */
	justify-self: start;
	padding-left: 200px;
}

.leftPaddingFirstFoto {
	margin-left: 20px;
}

#foto {
	width: 468px;
	height: 444px;
}


.swiper-slide img {
	width: 178px;
	height: 162px;
}

.redBorder {
	border: 5px solid red;
}


.triple___article {
	display: grid;
	grid-template-columns: repeat(3, 385px);
	gap: 10px;
	/* поправить */
	grid-template-areas: "a b c" ". . e";
	background-color: white;
	border-radius: 22.5px;

	/* justify-content: center; */
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.triple___article span {
	font-family: "Montserrat";
	font-weight: medium;
	font-size: 22px;

	margin: 10px;
}

.triple___article--button {
	grid-area: e;
	justify-self: end;
	cursor: pointer;
}



.selected__video-title {
	justify-self: start;
	margin-left: 200px;
}

.slider__wrapper--video {
	width: 1200px;
	height: 252px;
}

.slider__wrapper--button-next {
	margin-top: 20px;

	width: 1200px;
	display: grid;
	justify-items: end;

	color: #000;
	text-align: center;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

}

.slider__wrapper--button-next span {
	cursor: pointer;
}



.article__vsFoto {
	display: grid;
	grid-template-columns: 665px 467px;
	gap: 73px;
}

.article__text__left {
	display: grid;
	padding-top: 40px;
	gap: 20px;
}

.article__textvsfoto--text {
	border-radius: 15px;
	background-color: white;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}



.advertising img {
	width: 1600px;
}





















.footer__background {
	width: 1600px;
	height: 540px;

	background-color: black;

}